/*
 * Base
 */

img {
    vertical-align:middle;
}



button {
    outline: none;
}





@media screen and (min-width:1200px){

	#buttonpic {
		width:150px;
		height:150px;
		border:0px;
	}
	
	#buttons2 .inner {
		position: relative;
		width: 976px;
		margin: 0 auto;
	}

	#buttons2 button {
		display: block;
		position: absolute;
		width: 150px;
		height:150px ;
		overflow: hidden;
		padding: 0 0 3.41796%;
		font-size: 10px;
		letter-spacing: 1px;
		color: #01b169;
		background-color:black;
		border: none;
		border-radius: 75px;
		top:-30px;
	}

	#buttons2 button:nth-child(1) {left: 160px;}
	#buttons2 button:nth-child(2) {left: 304px;}
	#buttons2 button:nth-child(3) {left: 458px;}
	#buttons2 button:nth-child(4) {left: 612px;}
	#buttons2 button:nth-child(5) {left: 766px;}
	#buttons2 button:nth-child(6) {
		left: -100px;
		display: block;
		position: absolute;
		width: 150px;
		height: 150px;
		overflow: hidden;
		font-size: 16px;
		letter-spacing: 1px;
		color: black;
		background-color: #fff;
		border: none;
		border-radius:0px;
		top:-30px;
	}
	#buttons2 button:nth-child(7) {left: 920px;}
}



@media screen and (min-width:992px) and (max-width:1199px){

	#buttonpic {
		width:124px;
		height:124px;
		border:0px;
	}

	#buttons2 .inner {
		position: relative;
		width: 806.82699px;
		margin: 0 auto;
	}

	#buttons2 button {
		display: block;
		position: absolute;
		width:124px;
		height:124px ;
		overflow: hidden;
		padding: 0 0 3.41796%;
		font-size: 8.26667px;
		letter-spacing: 0.826667px;
		color: #01b169;
		background-color:black;
		border: none;
		border-radius: 62px;
		top:-24.8px;
	}

	#buttons2 button:nth-child(1) {left: 132.26672px;}
	#buttons2 button:nth-child(2) {left: 251.310677px;}
	#buttons2 button:nth-child(3) {left: 378.613486px;}
	#buttons2 button:nth-child(4) {left: 505.920204px;}
	#buttons2 button:nth-child(5) {left: 633.226922px;}
	#buttons2 button:nth-child(6) {
		left: -82.6667px;
		display: block;
		position: absolute;
		width: 124px;
		height:124px;
		overflow: hidden;
		font-size: 13.226672px;
		letter-spacing: 0.826667px;
		color: black;
		background-color:black;
		border: none;
		border-radius:0px;
		top:-22.5px;
	}
	#buttons2 button:nth-child(7) {left: 760.53364px;}
}



@media screen and (min-width:768px) and (max-width:991px){

	#buttonpic {
		width:112.5px;
		height:112.5px;
		border:0px;
	}
	
	#buttons2 .inner {
		position: relative;
		width: 732px;
		margin: 0 auto;
		
	}

	#buttons2 button {
		display: block;
		position: absolute;
		width: 112.5px;
		height:112.5px ;
		overflow: hidden;
		padding: 0 0 3.41796%;
		font-size: 7.5px;
		letter-spacing: 0.75px;
		color: #01b169;
		background-color:black;
		border: none;
		border-radius: 56.25px;
		top:-22.5px;
	}

	#buttons2 button:nth-child(1) {left: 120px;}
	#buttons2 button:nth-child(2) {left: 228px;}
	#buttons2 button:nth-child(3) {left: 343.5px;}
	#buttons2 button:nth-child(4) {left: 455.64px;}
	#buttons2 button:nth-child(5) {left: 574.5px;}
	#buttons2 button:nth-child(6) {
		left: -50px;
		display: block;
		position: absolute;
		width:112.5px;
		height:112.5px;
		overflow: hidden;
		font-size: 12px;
		letter-spacing: 0.75px;
		color: black;
		background-color: #fff;
		border: none;
		border-radius:0px;
		top:-22.5px;
	}
	#buttons2 button:nth-child(7) {left: 680px;}
}






@media screen and (min-width:560px) and (max-width:767px){

	#buttonpic {
		width:70px;
		height:70px;
		border:0px;
	}
	
	#buttons2 .inner {
		position: relative;
		width:455.466992px;
		margin: 0 auto;
	}

	#buttons2 button {
		display: block;
		position: absolute;
		width: 70px;
		height:70px ;
		overflow: hidden;
		padding: 0 0 3.41796%;
		font-size: 10px;
		letter-spacing: 1px;
		color: #01b169;
		background-color:black;
		border: none;
		border-radius: 35px;
		top:-14px;
	}

	#buttons2 button:nth-child(1) {left: 74.66672px;}
	#buttons2 button:nth-child(2) {left: 141.866768px;}
	#buttons2 button:nth-child(3) {left: 213.733486px;}
	#buttons2 button:nth-child(4) {left: 285.600204px;}
	#buttons2 button:nth-child(5) {left: 357.466922px;}
	#buttons2 button:nth-child(6) {
		left: -46.6667px;
		display: block;
		position: absolute;
		width: 70px;
		height: 70px;
		overflow: hidden;
		font-size: 7.466672px;
		letter-spacing: 0.46667px;
		color: black;
		background-color: #fff;
		border: none;
		border-radius:0px;
		top:-14px;
	}
	#buttons2 button:nth-child(7) {left: 429.33364px;}
}

.page-footer {
    background-color: #656565;
}

.page-footer small {
    display: block;
    color: #fff;
    font-size: 11px;
    text-align: right;
    width: 976px;
    margin: 0 auto;
    height: 120px;
    line-height: 120px;
    letter-spacing: 0.15em;
}

.page-footer a {
    color: #fff;
    text-decoration: none;
}

/*
 * Helpers
 */

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* #button2 */
#buttons2 button img:first-child {
    position: absolute;
}
#buttons2 button img:nth-child(2) {
    opacity: 0;
}
/*#top
{
	background-color:black;
	height:50px;
}*/

