#video{
	float:left;
	left:700px;
}


@media screen and (min-width: 1200px){

	pre{background-color:#F5F5DC; position:left; left:30px;}
	
	ul ,ol{margin:1em 0; line-height:1.8em;}
	
	ol li{margin-left:2.5em;}
	
	ul {padding-left:2em;list-style-type:square;}
	
	#right {	
		margin-top:200px;
		margin-right:30px;
		margin-left:250px;
    	float:right;
    	padding:20px;
		padding-top:5px;
		border-radius:30px;
		background-color:#F5F5DC;
		font-family:cursive;
		font-size:150%;
	}
	
	#foot{
		color:white;
		margin-top:60px;
		width:100%;
		height:auto;
		float:right;
		background-color:#191970;
		opacity:0.8;
	}	

	#navigation ul{
		list-style-type:none;
		margin:0 auto;
		padding:0;
		width:850px;
	}

	#navigation li{
		float:left;
	}

	#navigation a{
		float:left;
		display:block;
		color:#c5c5c5;
		padding:10px 30px;
		margin-top:5px;
		border-bottom-width:0;
		font-size:150%;
	}

	#navigation2{
		background-color:#191970;
		opacity:0.7;
		position:fixed;
		width:200px;
		float:left;
		clear:both;
		top:195px;
		border-radius: 10px;
	}

	#navigation2 ul{
		list-style-type:none;
	}

	#navigation2 a{
		float:left;
		display:block;
		color:white;
		padding:10px 30px;
		margin-top:10px;
		border-bottom-width:0;
		font-size:20px;
	}
}



@media screen and (min-width: 992px) and (max-width:1199px){

	pre{background-color:#F5F5DC; position:left; left:24.8px;}
	
	ul ,ol{margin:0.82667em 0; line-height:1.488em;}
	
	ol li{margin-left:2.06667em;}
	
	ul {padding-left:1.65333em;list-style-type:square;}
	
	#right {	
		margin-top:165.3334px;
		margin-right:24.8px;
		margin-left:206.69425px;
    	float:right;
    	padding:16.5333px;
		padding-top:4.13335px;
		border-radius:24.8px;
		background-color:#F5F5DC;
		font-family:cursive;
		font-size:150%
	}

	#foot{
		color:white;
		margin-top:49.6px;
		width:100%;
		height:auto;
		float:right;
		background-color:#191970;
		opacity:0.8;
	}
	
	#navigation ul{
		list-style-type:none;
		margin:0 auto;
		padding:0;
		width:702.66695px;
	}

	#navigation li{
		float:left;
	}

	#navigation a{
		float:left;
		display:block;
		color:#c5c5c5;
		padding:8.26667px 24.8px;
		margin-top:4.13335px;
		border-bottom-width:0;
		font-size:16.5333px;
	}

	#navigation2{
		background-color:#191970;
		opacity:0.7;
		position:fixed;
		width:165.3334px;
		float:left;
		clear:both;
		top:161.2px;
		border-radius: 8.26667px;
	}

	#navigation2 ul{
		list-style-type:none;
	}

	#navigation2 a{
		float:left;
		display:block;
		color:white;
		padding:8.26667px 24.8px;
		margin-top:8.26667px;
		border-bottom-width:0;
		font-size:16.5333px;
	}
}






@media screen and (min-width:770px) and (max-width:991px){

	pre{background-color:#F5F5DC; position:left; left:22.5px;}
	
	ul ,ol{margin:0.75em 0; line-height:1.35em;}
	
	ol li{margin-left:1.875em;}
	
	ul {padding-left:1.5em;list-style-type:square;}

	
	#right {	
	margin-top:150px;
	margin-right:22.5px;
	margin-left:187.5px;
    padding:15px;
	padding-left:22.5px;
	padding-top:3.75px;
	border-radius:22.5px;
	background-color:#F5F5DC;
	font-family:cursive;
	font-size:150%;
	}
	
	#foot{
		color:white;
		margin-top:45px;
		width:100%;
		height:auto;
		float:right;
		background-color:#191970;
		opacity:0.8;
	}

	#navigation ul{
		list-style-type:none;
		margin:0 auto;
		padding:0;
		width:518.095px;
	}

	#navigation li{
		float:left;
	}

	#navigation a{
		float:left;
		display:block;
		color:#c5c5c5;
		padding:7.5px 22.5px;
		margin-top:3.75px;
		border-bottom-width:0;
		font-size:24px;
	}

	#navigation2{
		background-color:#191970;
		opacity:0.7;
		position:fixed;
		width:15%;
		float:left;
		clear:both;
		top:146.25px;
		border-radius: 7.5px;
	}

	#navigation2 ul{
		list-style-type:none;
	}

	#navigation2 a{
		float:left;
		display:block;
		color:white;
		padding:7.5px 22.5px;
		margin-top:7.5px;
		border-bottom-width:0;
		font-size:15px;
	}
}








@media screen and (min-width:560px)and (max-width:769px){

	pre{background-color:#F5F5DC; position:left; left:14px;}
	
	ul ,ol{margin:0.466667em 0; line-height:0.84em;}
	
	ol li{margin-left:1.1666667em;}
	
	ul {padding-left:0.933333em;list-style-type:square;}
	
	#right {	
		margin-top:93.33333px;
		margin-right:14px;
		margin-left:45px;
    	float:right;
    	padding:9.333333px;
		padding-top:2.33333px;
		border-radius:14px;
		background-color:#F5F5DC;
		font-family:cursive;
		font-size:150%;
	}
	
	#foot{
		color:white;
		margin-top:28px;
		width:100%;
		height:auto;
		float:right;
		background-color:#191970;
		opacity:0.8;
	}
	
	#navigation ul{
		list-style-type:none;
		margin:0 auto;
		padding:0;
		width:396.66667px;
	}

	#navigation li{
		float:left;
	}

	#navigation a{
		float:left;
		display:block;
		color:#c5c5c5;
		padding:4.66667px 14px;
		border-bottom-width:0;
		font-size:150%;
	}

	#navigation2{
		background-color:#191970;
		opacity:0.7;
		position:fixed;
		width:93.33333px;
		margin-top:-1000px;
		float:left;
		clear:both;
		top:91px;
		border-radius: 4.666667px;
	}

	#navigation2 ul{
		list-style-type:none;
	}

	#navigation2 a{
		float:left;
		display:block;
		color:white;
		padding:4.66667px 14px;
		margin-top:4.66667px;
		border-bottom-width:0;
		font-size:9.3333333px;
	}
}






@media screen and (min-width:320px)and (max-width:559px){

	pre{background-color:#F5F5DC; position:left; left:14px;}
	
	ul ,ol{margin:0.466667em 0; line-height:0.84em;}
	
	ol li{margin-left:1.1666667em;}
	
	ul {padding-left:0.933333em;list-style-type:square;}
	
	#right {	
		margin-top:93.33333px;
		margin-right:14px;
		margin-left:45px;
    	float:right;
    	padding:9.333333px;
		padding-top:2.33333px;
		border-radius:14px;
		background-color:#F5F5DC;
		font-family: cursive;
		font-size:150%;
	}
	
	#foot{
		color:white;
		margin-top:16px;
		width:100%;
		height:auto;
		float:right;
		background-color:#191970;
		opacity:0.8;
	}
	
	#navigation ul{
		list-style-type:none;
		margin:0 auto;
		padding:0;
		width:396.66667px;
	}

	#navigation li{
		float:left;
	}

	#navigation a{
		float:left;
		display:block;
		color:#c5c5c5;
		padding:4.66667px 14px;
		border-bottom-width:0;
		font-size:150%;
	}

	#navigation2{
		background-color:#191970;
		opacity:0.7;
		position:fixed;
		width:93.33333px;
		margin-top:-1000px;
		float:left;
		clear:both;
		top:91px;
		border-radius: 4.666667px;
	}

	#navigation2 ul{
		list-style-type:none;
	}

	#navigation2 a{
		float:left;
		display:block;
		color:white;
		padding:4.66667px 14px;
		margin-top:4.66667px;
		border-bottom-width:0;
		font-size:9.3333333px;
	}
}
