/*
	Todd Motto Labs
	URL: www.toddmotto.com
*/

/*------------------------------------*\
    RESET
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
*,
*:after,
*:before {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

.wrapper {
	max-width:1280px;
	margin:0 auto;
}

.logo {
	float:left;
}
.demo-nav {
	float:right;
	margin:12px 0;
	list-style:none;
}
.demo-nav-link {
	
}
.demo-nav-link a {
	color:#2BA6CB;
	text-decoration:none;
}
}
