
.slideshow {
	left:-100px;
    overflow: hidden;
    position: relative;
    min-width: 960px;
    height: 465px;
}
.slideshow img {
    display: none;
	position:absolute;
    left:50%;
    margin-left: -200px;
	top:20px;
}


