@media screen and (min-width: 1200px) {
.slideshow {
	left:-150px;
    overflow: hidden;
    position: relative;
    min-width: 800px;
    height: 350px;
}

.slideshow img {
    	display: none;
	position:absolute;
    	left:50%;
    	margin-left: -200px;
	top:20px;
}

}



@media screen and (min-width: 992px) and (max-width:1199px){
.slideshow {
	left:-120px;
    overflow: hidden;
    position: relative;
    min-width: 600px;
    height: 350px;
}

.slideshow img {
    	display: none;
	position:absolute;
    	left:50%;
    	margin-left: -200px;
	top:20px;
}

}



@media screen and (min-width: 770px) and (max-width:991px){
.slideshow {
	left:-50px;
    overflow: hidden;
    position: relative;
    min-width: 400px;
    height: 350px;
}

.slideshow img {
    	display: none;
	position:absolute;
    	left:50%;
    	margin-left: -200px;
	top:20px;
}

}




@media screen and (min-width:560px) and (max-width: 769px){

.slideshow {
	left:-400px;
    position: relative;
    min-width: 320px;
    height: 250px;
}

.slideshow img {
    	display: none;
	position:absolute;
    	left:50%;
    	margin-left:200px;
	top:20px;

}

}



@media screen and (min-width:320px) and (max-width: 559px){

.slideshow {
	left:-350px;
    position: relative;
    min-width: 200px;
    height: 200px;
}

.slideshow img {
    	display: none;
	position:absolute;
    	left:50%;
    	margin-left:200px;
	top:20px;

}

}
