@media screen and (min-width: 1200px){
	.page-header {
		position:fixed;
		width: 100%;
		transition:top .5s;
	}

	.page-header > .inner {
		margin: auto;
		width: 960px;
	}

	.page-main {
		position:fixed;
		width: 100%;
		transition:top .5s
	}

	.page-main > div {
		padding: 50px 0 50px;
    	background-color:#191970;
		opacity:0.9;
		height:180px;
	
	}
	
	.page-main>aside{
		background-color:#191970;
		width:50px;
		height:100%;
		opacity:0.8;
		left:-100px;
		top:-3000px;
		position:fixed;
	}

	.page-main > img {
		opacity:1;
	}

	.page-main > span{
		opacity:1;
	}

	.mobilenav{
		position:fixed;
		width: 100%;
		transition:top .5s;
	}

	.mobilenav > div{
		margin-top:-2000px;
	}


	.header2{
		top:0px;
		z-index:9999px;
	}		

	.gizle{
		top:-200px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px){
	.page-header {
		position:fixed;
		width: 100%;
		transition:top .5s;
	}

	.page-header > .inner {
		margin: auto;
		width: 793.6px;
	}

	.page-main {
		position:fixed;
		width: 100%;
		transition:top .5s
	}

	.page-main > div {
		padding: 41.33335px 0 41.333335px;
    	background-color: #191970;
		opacity:0.8;
		height:148.8px;
	}
	
	.page-main>aside{
		background-color:#191970;
		width:50px;
		height:100%;
		opacity:0.8;
		left:-100px;
		top:-3000px;
		position:fixed;
	}
	.mobilenav{
		position:fixed;
		width: 100%;
		transition:top .5s;
	}

	.mobilenav > div{
		margin-top:-3000px;
	}

	.header2{
		top:0px;
		z-index:9999px;
	}

	.gizle{
		top:-200px;
	}

}


@media screen and (min-width: 770px) and (max-width:991px){
	.page-header {
		position:fixed;
		width: 100%;
		transition:top .5s;
		}


	.page-header > .inner {
		margin: auto;
		width: 720px;
	}

	.page-main {
		position:fixed;
		width: 100%;
		transition:top .5s
	}

	.page-main > div {
		padding: 37.5px 0 37.5px;
		margin-top:-150px;
		background-color:#191970;
		opacity:0.8;
		height:135px;
	}
	
	.page-main>aside{
		background-color:#191970;
		width:50px;
		height:100%;
		opacity:0.8;
		left:-100px;
		top:-3000px;
		position:fixed;
	}
	
	.mobilenav{
		position:fixed;
		width: 100%;
		transition:top .5s;
	}

	.mobilenav > div{
		margin-top:-3000px;
	}
	
	.header2{
		top:150px;
		z-index:9999px;
	}

	.gizle{
		top:-200px;
	}	
}



@media screen and (min-width: 560px) and (max-width:769px){
	.page-header {
		position:fixed;
		width: 100%;
		transition:top .5s;
	}

	.page-header > .inner {
		margin:auto;	
		width: 448px;
	}

	.page-main {
		position:fixed;
		width: 100%;
		transition:top .5s;
	}

	.page-main > div {
		padding: 23.3333px 0 23.3333px;
		background-color:#191970;
		opacity:0.9;
		height:84px;
		margin-top:-3000px;
	}
	
		.page-main>aside{
		background-color:#191970;
		font:white;
		width:220px;
		height:300px;
		opacity:0.9;
		top:100px;
		left:-210px;
		position:fixed;
	}
	
	.page-main>aside button{
		background-color:#191970;
		font:white;
		opacity:0.8;
		width:50px;
		top:20px;
		left:195px;
		position:absolute;
		display:block;
		border:none;
		}


	.mobilenav{
		position:absolute;
		width: 100%;
		transition:top .5s;
	}

	.mobilenav>div{
		padding:10px 0 10px;
		background-color:#191970;
		opacity:0.9;
		height:70px;
	}

	.header2{
		top:0px;
		z-index:9999px;
	}

	.gizle{
		top:-200px;
	}	


	.dropdown{
		width:100px;
	}

	.dropdown > li{
		width:100%;
	}

}



@media screen and (min-width: 320px) and (max-width: 559px){
	.page-header {
		position:fixed;
		width: 100%;
		transition:top .5s;
	}

	.page-header > .inner {
		margin:auto;	
		width: 448px;
	}

	.page-main {
		position:fixed;
		width: 100%;
		transition:top .5s;
	}

	.page-main > div {
		padding: 23.3333px 0 23.3333px;
		background-color:#191970;
		opacity:0.9;
		height:84px;
		margin-top:-300px;
	}
	
	.page-main>aside{
		background-color:#191970;
		height:300px;
		font:white;
		width:220px;
		opacity:0.9;
		top:100px;
		left:-210px;
		position:fixed;
	}
	
	.page-main>aside button{
		background-color:#191970;
		opacity:0.8;
		font:white;
		width:50px;
		top:20px;
		left:195px;
		position:absolute;
		display:block;
		border:none;
		}
		
	.mobilenav{
		position:absolute;
		width: 100%;
		transition:top .5s;
	}

	.mobilenav>div{
		padding:10px 0 10px;
		background-color:#191970;
		opacity:0.9;
		height:70px;
	}

	.header2{
		top:0px;
		z-index:9999px;
	}

	.gizle{
		top:-300px;
	}	
	
	.dropdpwn-menu{
		display:inline-block;
		width:100%;
	}
}
